<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619714737803-k4jbodjgj0bjfqoq3frnil4tqb6rj93u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619714737803-k4jbodjgj0bjfqoq3frnil4tqb6rj93u</string>
	<key>API_KEY</key>
	<string>AIzaSyB2GWMHMUjeHWxZinY3z0HcL__JPTfw7s0</string>
	<key>GCM_SENDER_ID</key>
	<string>619714737803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-b5923</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-b5923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619714737803:ios:0b403e11a915e4ff18868e</string>
</dict>
</plist>